{% extends "base.html" %}

{% block content %}
<h2>Lista dei Contatti</h2>

<table border="1">
    <tr>
        {% if request.user.is_authenticated %}
        <th>Cancella</th>
        <th>Modifica</th>
        {% endif %}
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th>Contenuto</th>
    </tr>

    {% for c in contatti %}
    <tr>
        {% if request.user.is_authenticated %}
        <td><a href="{% url 'forms_app:elimina-contatto' c.pk %}">🗑️</a></td>
        <td><a href="{% url 'forms_app:modifica-contatto' c.pk %}">✏️</a></td>
        {% endif %}
        <td>{{ c.nome }}</td>
        <td>{{ c.cognome }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.contenuto }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">Nessun contatto disponibile.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}