<!DOCTYPE html>
{%extends "base.html"%}

<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {{block.super}} Lista {%endblock title%}</title>
</head>
<body>
    {%block content%}
        <h1>Lista</h1>
        <ol> 
            <li>PRIMO</li>
            <li>SECONDO</li>
            <li>TERZO</li>
        </ol>
    {%endblock content%}
</body>
</html>